@model IEnumerable<NetAtlas_The_True_Project.Models.Publication>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Username : @ViewBag.UserName</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPublication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePublication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMembre)
            </th>
            <th>What to do ?</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPublication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePublication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMembre)
            </td>
            <td>
                <a asp-action="SupprimerPublication2Admin" asp-route-id="@item.IdPublication" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
