@model NetAtlas_The_True_Project.Models.Membre

@{
    ViewData["Title"] = "Suppression";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Suppression</h1>

<h3>Voulez-vous supprimer ce membre?</h3>
<div>
    <h4>Internaute</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
    
    <form asp-action="Supprimer">
        <input type="hidden" asp-for="IdMembre" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="ListeMembre">Retourner à la liste</a>
    </form>
</div>
